Aledutron
SPPU 2019 TE DSBDA Lab
SPPU Computer Engineering Third Year (TE) Data Science and Big Data Analysis (DSBDA) Lab Assignments (2019 Pattern)
Youtube DSBDA Lab Playlist Link: https://www.youtube.com/playlist?list=PLlShVH4JA0otdEk1LKPX_H6Cp5CblDq91

Problem Statement:
Group-A/Q1.ipynb

Data Wrangling, I
Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear 
 description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() 
function to get some initial statistics. Provide variable descriptions. Types of variables etc. 
Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking 
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the 
data set. If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.
In addition to the codes and outputs, explain every operation that you do in the above steps and 
explain everything that you do to import/read/scrape the data set.

Explaination Video Link: https://www.youtube.com/watch?v=sUBNf72wRGY&list=PLlShVH4JA0otdEk1LKPX_H6Cp5CblDq91&index=1&pp=iAQB

In [29]:
import pandas as pd
# import numpy as np

In [48]:
# Personalised Data
df = pd.read_csv("/content/sample_data/StudentsPerformance.csv")

In [31]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,NaN,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,NaN
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [32]:
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,True
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

In [33]:
df.isnull().sum()

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     37
reading score                  44
writing score                  38
dtype: int64

In [34]:
df.notnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,True,True,True,True,True,False,True,True
4,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,True,True,True
996,True,True,True,True,True,True,True,True
997,True,True,True,True,True,True,True,False
998,True,True,True,True,True,True,True,True
999,True,True,True,True,True,True,True,True

In [35]:
df.notnull().sum()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                      963
reading score                   956
writing score                   962
dtype: int64

In [36]:
df.describe()

       math score  reading score  writing score
count  963.000000     956.000000     962.000000
mean    66.127726      69.158996      68.030146
std     15.150022      14.652692      15.256398
min      0.000000      17.000000      10.000000
25%     57.000000      59.000000      57.000000
50%     66.000000      70.000000      69.000000
75%     77.000000      79.000000      79.000000
max    100.000000     100.000000     100.000000

In [37]:
df.size

8000

In [38]:
df.ndim

2

In [39]:
df.shape

(1000, 8)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   963 non-null    float64
 6   reading score                956 non-null    float64
 7   writing score                962 non-null    float64
dtypes: float64(3), object(5)
memory usage: 62.6+ KB

In [41]:
# df["writing score"].astype(int)

IntCastingNaNError: ignored

In [42]:
df = df.dropna()

In [43]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
...,...,...,...,...,...,...,...,...
994,male,group A,high school,standard,none,63.0,63.0,62.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [44]:
df["writing score"] = df["writing score"].astype(int)

<ipython-input-44-d3644a058fa0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["writing score"] = df["writing score"].astype(int)

In [45]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,90.0,95.0,93
4,male,group C,some college,standard,none,76.0,78.0,75
5,female,group B,associate's degree,standard,none,71.0,83.0,78
...,...,...,...,...,...,...,...,...
994,male,group A,high school,standard,none,63.0,63.0,62
995,female,group E,master's degree,standard,completed,88.0,99.0,95
996,male,group C,high school,free/reduced,none,62.0,55.0,55
998,female,group D,some college,standard,completed,68.0,78.0,77
999,female,group D,some college,free/reduced,none,77.0,86.0,86

In [46]:
df["gender"].replace({"female":0,"male":1}, inplace=True)

<ipython-input-46-ee4613c39ec6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"].replace({"female":0,"male":1}, inplace=True)

In [47]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,group B,bachelor's degree,standard,none,72.0,72.0,74
1,0,group C,some college,standard,completed,69.0,90.0,88
2,0,group B,master's degree,standard,none,90.0,95.0,93
4,1,group C,some college,standard,none,76.0,78.0,75
5,0,group B,associate's degree,standard,none,71.0,83.0,78
...,...,...,...,...,...,...,...,...
994,1,group A,high school,standard,none,63.0,63.0,62
995,0,group E,master's degree,standard,completed,88.0,99.0,95
996,1,group C,high school,free/reduced,none,62.0,55.0,55
998,0,group D,some college,standard,completed,68.0,78.0,77
999,0,group D,some college,free/reduced,none,77.0,86.0,86